.username {
    margin-top: 20px;
}

form {
    margin-top: 50px;
}

#username {
    font-size: 20px;
    padding: 5px 10px;
    width: 140px;
    background-color: transparent;
    vertical-align: middle;
}

button {
    background-color: rgba(200, 150, 255, 0.1);
    vertical-align: middle;
    font: normal 16px Verdana, Geneva, sans-serif;
    padding: 7px 10px;
}

.connect button {
    margin-top: 40px;
}

.border {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.border:focus {
    outline: none;
    border-color: #8ecaed;
    box-shadow: 0 0 5px #8ecaed;
}